@font-face {
    font-family: 'gillSans';
    src: url("/lib/fonts/GillSans-Light-08.ttf");
}

@font-face {
    font-family: 'gillSans-b';
    src: url("/lib/fonts/GillSans-01.ttf");
}

@font-face {
    font-family: 'darkmode';
    src: url("/lib/fonts/Darkmode_Trial_DarkmodeOffBd.ttf");
}

:root {
    --ff: gillSans, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    border: none;
    margin: 0; 
    padding: 0;
}

html {
    scroll-padding-top: 60px;
}

p {
    margin-block: 16px;
}

* {
    color: white;
    font-family: var(--ff);
    font-weight: 300;
}

header nav {
    background-color: #141414;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px; 
    /* was 80 */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-left: 3.5%;
    max-width: 1920px;
}

.page-nav button {
    width: 2rem;
    aspect-ratio: 1;
    background: url(../lib/images/hamburger.png);
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#initials {
    font-size: 1.5rem;
}

.nav-links {
    align-items: center;
    padding: 0;
    width: 40vw;
    display: none;
}

.nav-links li {
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
}

@media (min-width: 950px) {
    .page-nav button {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        width: 25rem;
        margin-left: auto;
    }

    .page-nav {
        flex-basis: 100%;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }

    header nav {
        padding-inline: 3.5%
    }
}

body {
    background-color: #141414;
}

h1 {
    font-family: darkmode;
    font-size: 5rem;
    margin-top: -1.8rem;
    margin-bottom: -1.4rem;
}

.pre-title {
    margin-bottom: 17px;
    font-size: 1.5rem;
}

#hero h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    max-width: 470px;
}

#name {
    top: 50%;
}

#hero {
    height: 100vh;
    margin: 0 5%;
    display: flex;
    align-items: center;
}

#hero button {
    --gradient : linear-gradient(270deg, #82CEE5, #903C9D);
    border-radius: 68px;
    background: var(--gradient);
    height: 52px;
    width: 162px;
    font-size: 24px;
    letter-spacing: 0.185em;
    background-color: #141414;
    position: relative;
    z-index: 1;
}

#hero button::before {
    content: '';
    display: block;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: #141414;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: calc(68px - 3px);
    z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
    .fade {
        animation: fade 2s;
    }
    
    .fade-delay {
        animation: fade-delay 4s;
    }
    
    @keyframes fade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @keyframes fade-delay {
        0% { opacity: 0; }
        30% { opacity: 0; }
        100% { opacity: 1; }
    }
}



.section-header {
    font-family: darkmode;
    font-size: 4rem;
    margin-top: -1.1rem;
    margin-bottom: -0.3rem;
}

.card-container {
    display: grid;
    margin: 20px 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.card {
    min-height: 350px;
    padding: 2rem;
}

.card h2 {
    font-family: gillSans-b;
}

.card * {
    color: black;
}

@media (min-width: 530px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 840px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card:nth-child(1) {
    background-image: linear-gradient(rgb(177, 229, 249), rgb(244, 210, 254));
}

.card:nth-child(2) {
    background-image: linear-gradient(rgb(243, 203, 171), rgb(254, 237, 202));
}

.card:nth-child(3) {
    background-image: linear-gradient(45deg, rgb(185, 177, 249), rgb(254, 243, 210));
}

.card:nth-child(4) {
    background-image: linear-gradient(rgb(239, 169, 113), rgb(228, 202, 254));
}

.card:nth-child(5) {
    background-image: linear-gradient(90deg, rgb(177, 229, 249), rgb(244, 210, 254));
}

.card:nth-child(6) {
    background-image: linear-gradient(rgb(219, 180, 243), rgb(239, 183, 215));
}

section {
    margin: 5rem 5%;
}

input, textarea {
    border-radius: 0.125rem;
    border-bottom-width: 1px;
    background-color: rgb(148 163 184 / 0.1);
    padding: 1rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128);
    width: 100%;
    font-size: 1rem;
}

input[type=submit] {
    background-color: rgb(107, 76, 220);
    color: white;
}

input:focus, textarea:focus {
    border-bottom: 1px solid;
    border-color: rgb(107, 76, 220);
    color: rgb(107, 76, 220);
    outline: none;
}

label {
    display: none;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    max-width: 660px;
}

#fname, #lname {
    grid-column: span 2;
}

#email {
    grid-column: span 2;
}

#msg {
    grid-column: span 2;
}

#submit {
    grid-column-start: 1;
    max-width: 190px;
}

form+p {
    margin-top: 32px;
}

@media (min-width: 530px) {
    #fname, #lname {
        grid-column: span 1;
    }
}

footer {
    background-color: black;
    width:100%;
    padding: 2rem 3.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#full-name h3 {
    font-family: darkmode;
    font-size: 24px;
    margin-bottom: 0;
}
#full-name p {
    margin: 0;
}

#footer-page-nav {
    grid-row-end: span 2;
    margin-left: auto;
}

#footer-page-nav ul {
    list-style-type: none;
}

#footer-page-nav li {
    margin-bottom: 7px;
}

svg {
    fill: white;
}

svg:hover {
    fill: rgb(107, 76, 220);
}

a:hover {
    color: rgb(107, 76, 220);
}

@media (min-width: 708px) {
    #footer-page-links li{
        display: inline;
        padding: 0.5rem;
    }
    
    #footer-page-nav {
        margin-top: auto;
    }
}







