@font-face {
	font-family: "gillSans";
	src: url("/lib/fonts/GillSans-Light-08.ttf");
}

@font-face {
	font-family: "gillSans-b";
	src: url("/lib/fonts/GillSans-01.ttf");
}

@font-face {
	font-family: "darkmode";
	src: url("/lib/fonts/Darkmode_Trial_DarkmodeOffBd.ttf");
}

:root {
	--ff: gillSans, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 60px;
}

p {
	margin-block: 16px;
	word-wrap: break-word;
}

* {
	color: white;
	font-family: var(--ff);
	font-weight: 300;
}

body {
	background-color: #141414;
	margin: 2rem 5%;
}

h1 {
	font-family: darkmode;
	font-size: 4.5rem;
}

dialog {
	width: 50vw;
	background-color: #232323;
	padding: 1rem;
	margin: auto;
	box-shadow: 0 0 1em rgb(0, 0, 0 / 0.3);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.639);
}

dialog h1 {
	font-size: 3rem;
}

label {
	display: none;
}

input,
textarea {
	border-radius: 0.125rem;
	border-bottom-width: 1px;
	background-color: rgb(148 163 184 / 0.1);
	padding: 1rem;
	color: rgb(107 114 128);
	width: 100%;
	font-size: 1rem;
}

input:focus,
textarea:focus {
	border-bottom: 1px solid;
	border-color: rgb(107, 76, 220);
	color: rgb(107, 76, 220);
	outline: none;
}

button[type="submit"] {
	background-color: rgb(107, 76, 220);
	color: white;
	border-radius: 0.125rem;
	border-bottom-width: 1px;
	padding: 1rem;
	font-size: 1rem;
	margin-top: 1.5rem;
}

button {
	background-color: rgb(245, 242, 255);
	color: rgb(0, 0, 0);
	border-radius: 0.125rem;
	border-bottom-width: 1px;
	padding: 1rem;
	font-size: 1rem;
	margin-top: 1.5rem;
}

#b1 {
	background-color: rgb(107, 76, 220);
	color: white;
	border-radius: 0.125rem;
	border-bottom-width: 1px;
	padding: 1rem;
	font-size: 1rem;
	margin-top: 1.5rem;
}

#post-cards {
	display: grid;
	margin: 20px 0px;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 20px;
}

.card {
	min-height: 250px;
	padding: 2rem;
	border: 2px white solid;
	position: relative;
}

.card h2 {
	font-family: gillSans-b;
	word-wrap: break-word;
}

.card h3 {
	font-size: 0.9rem;
	color: #a4a4a4;
}

.edit-button {
	width: 1.5rem;
	aspect-ratio: 1;
	background: url(../lib/images/iconmonstr-pencil-lined.svg);
	filter: invert();
	background-repeat: no-repeat;
	background-size: 1.5rem 1.5rem;
	position: absolute;
	bottom: 2rem;
	right: 4rem;
}

.delete-button {
	width: 1.5rem;
	aspect-ratio: 1;
	background: url(../lib/images/iconmonstr-trash-can-lined.svg);
	filter: invert();
	background-repeat: no-repeat;
	background-size: 1.5rem 1.5rem;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}

button:hover {
	cursor: pointer;
}

@media (min-width: 500px) {
	#post-cards {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 840px) {
	#post-cards {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
