---
import Avatar from "../components/Avatar.astro";
import ProjectTitle from "../components/ProjectTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Armin Suraj'>
	<header>
		<div id='header-container'>
			<Avatar />
			<div>
				<h1>Armin Suraj</h1>
				<p>Software Engineer</p>
			</div>
		</div>
	</header>
	<main>
		<nav>
			<h2>Contact</h2>
			<ul>
				<li>
					<p>Github</p>
					<a href='https://github.com/arm-out' target='_blank'>
						arm-out
						<svg
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path
								d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</svg>
					</a>
				</li>
				<li>
					<p>Resume</p>
					<a href='' target='_blank'>
						armin
						<svg
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path
								d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</svg>
					</a>
				</li>
				<li>
					<p>LinkedIn</p>
					<a href='https://www.linkedin.com/in/arminsuraj/' target='_blank'>
						armin
						<svg
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path
								d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</svg>
					</a>
				</li>
				<li>
					<p>Twitter</p>
					<a href='https://twitter.com/armzout' target='_blank'>
						armzout
						<svg
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path
								d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</svg>
					</a>
				</li>
				<li>
					<p>Email</p>
					<p id='email'>arminsuraj@gmail.com</p>
				</li>
				<li>
					<p>Itch.io</p>
					<a href='https://armout.itch.io/' target='_blank'>
						armout
						<svg
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path
								d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</svg>
					</a>
				</li>
			</ul>
		</nav>

		<section>
			<h2>Projects</h2>
			<div>
				<ProjectTitle
				title='StageManager'
				link='https://sm.arminsuraj.com'
				imgSrc='sm.webp'
				imgAlt='StageManager'
			/>
			<p>
				A remote netowork based stage management system with custom controls implemented using Websockets. Built for TEDxUCSD.
			</p></div>
			<div>
				<ProjectTitle
					title='RayTracer'
					link='https://github.com/arm-out/RayTracer'
					imgSrc='raytracer.webp'
					imgAlt='A cornell box'
				/>
				<p>
					An exploration into global illumination techniques using Monte-Carlo
					path tracing with anti aliasing capabilities.
				</p>
			</div>
			<div>
				<ProjectTitle
					title='ARMINx8'
					link='https://github.com/arm-out/ARMINx8'
					imgSrc='arch.webp'
					imgAlt='A custom CPU architecture diagram'
				/>
				<p>
					A fully custom 8-bit CPU architecture built from scratch, including a
					custom ISA and an assembler to generate binaries.
				</p>
			</div>
		</section>
		<section id='about'>
			<h2>About Me</h2>
			<p>
				Exploring ways to use technology to create unique experiences and solve
				complex problems. Learning to use an engineer-based approach to building
				scalable and reliable experiences.
			</p>
			<p>
				Currently tinkering with various projects, building <a
					href='https://stickergoals.xyz/' target="_blank">Sticker</a
				><svg
					fill='none'
					stroke='currentColor'
					stroke-width='1.5'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				>
					<path
						d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
						stroke-linecap='round'
						stroke-linejoin='round'></path>
				</svg>, and designing experiences for <a href='https://tedxucsd.com' target="_blank"
					>ideas worth sharing</a
				><svg
					fill='none'
					stroke='currentColor'
					stroke-width='1.5'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				>
					<path
						d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'
						stroke-linecap='round'
						stroke-linejoin='round'></path>
				</svg>
			</p>
			<p>
				Studying Computer Science at the University of California, San Diego.
				Passionate about production, music, and design. Consistently improving
				through learning. Currently interested in game development, computer
				architecture and web development.
			</p>
		</section>
	</main>
	<footer>
		<p>
			© 2023 Armin Suraj. Built with &hearts; using Astro.build <a href='https://github.com/arm-out/portfolio'>(view source)</a>
		</p>
	</footer>

	<style>
		header {
			padding: 1rem 2rem 0 1rem;
			margin-bottom: 4rem;
			width: 100%;
			max-width: 42rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		#header-container {
			display: flex;
			gap: 1rem;
		}

		header nav {
			display: flex;
			height: 100%;
			align-items: center;
		}

		header a {
			display: inline-block;
			color: var(--ff-color-2);
		}

		main {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			padding: 0 1rem 1rem 1rem;
			max-width: 42rem;
		}

		h1 {
			font-size: 1rem;
			font-weight: var(--ff-weight);
			color: var(--ff-color-1);
		}

		h2 {
			font-size: 1rem;
			font-weight: var(--ff-weight);
			color: var(--ff-color-3);
		}

		h3 {
			font-size: 1rem;
			font-weight: var(--ff-weight);
			color: var(--ff-color-4);
		}

		p {
			font-size: 1rem;
			font-weight: var(--ff-weight);
			color: var(--ff-color-4);
		}

		nav {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 1rem;
		}

		li {
			display: block;
		}

		a {
			text-decoration: none;
		}

		nav a {
			color: var(--ff-color-2);
		}

		a:hover {
			color: var(--ff-color-hover);
		}

		#email {
			color: var(--ff-color-2);
		}

		#email:hover {
			color: var(--ff-color-hover);
		}

		svg {
			height: 0.75rem;
			width: 0.75rem;
			display: inline-block;
			vertical-align: middle;
		}

		section {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		section p {
			color: var(--ff-color-2);
		}

		#about a {
			text-decoration: underline;
			color: color: var(--ff-color-2);
		}

		a:hover {
			cursor: pointer;
		}

		footer {
			padding-inline: 1rem;
			margin-top: 2rem;
			width: 100%;
			max-width: 42rem;
		}

		footer p {
			font-size: 0.875rem;
		}

		footer a {
			color: var(--ff-color-4);
		}


		footer a:hover {
			color: var(--ff-color-3);
		}

		@media (min-width: 450px) {
			ul {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (min-width: 648px) {
			ul {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	</style>
</Layout>
