---
import BaseLayout from "../layouts/BaseLayout.astro";
---


<BaseLayout title="Armin Suraj" route="/">
	<div class="w-full">
		<div class="h-[100vh] bg-red-400">Hello
		</div>
		<div class="h-[100vh] bg-indigo-400"></div>	
	</div>
	</BaseLayout>
	