---
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='png' href='/favicon.ico' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Armin Suraj</title>
    </head>
    <body>
        <script>
            window.location.href =
                "https://drive.google.com/file/d/18pCvZJ7zqF6O-sCiEvYdt58dB9-9q_GF/view?usp=sharing";
        </script>
    </body>
</html>
